body {
  margin: 0 auto;
}

nav ul {
  width: 30%;
  display: flex;
}

nav li {
  list-style-type: none;
  margin-right: 10%;
}

nav li a {
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.dateTime {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 2rem;
}
