body {
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 4%;
    padding-right: 6%;
    margin: 4%;
    align-items: center;
    font-size: 22px;
  }
  
  nav ul {
    width: 30%;
    display: flex;
  }
  
  nav li {
    list-style-type: none;
    margin-right: 10%;
  }
  
  nav li a {
    text-decoration: none;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
  }
  